*.dep
*.deps
*.orig
*.rej
*.pc
*.lo
*.o
*.o.cmd
*.la
*.a
*.a.cmd
.libs
.depend
.dirstamp
autom4te.cache
config.h.in~
config.log
config.status
config_done
stamp-h1
/romfs
/romfs/*
/images
/images/*
/stage
/stage/*
/trunk/user/lrzsz/lrzsz-0.12.20/*
/trunk/user/lrzsz/lrzsz-0.12.20.tar.gz
/trunk/user/htop/htop-2.2.0/*
/trunk/user/htop/htop-2.2.0.tar.gz
/trunk/libs/mbedtls/mbedtls-2*
/trunk/libs/libcurl/curl-7.68*
/trunk/libs/libmnl/libmnl*
/trunk/libs/libncurses/ncurses*
/trunk/libs/libpcap/libpcap*
/trunk/libs/libssl/openssl-*
/trunk/libs/libwebsockets/libwebsockets-*
/trunk/libs/libz/zlib-*
wget-log
toolchain-mipsel-git
